version: '3.8'
services:
  db-master:
    image: postgres:15
    container_name: db_master
    environment:
      POSTGRES_DB: notes_app
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password_securizata
    ports:
      - "5432:5432"
    volumes:
      - master_data:/var/lib/postgresql/data

volumes:
  master_data: